/* line 4, ../sass/main.scss */
p {
  font-size: 0.8em;
}

/* line 5, ../sass/main.scss */
h6 {
  font-size: 12px;
}

/* line 7, ../sass/main.scss */
#top-elements {
  height: 90px;
}

/* line 8, ../sass/main.scss */
#logo {
  margin-top: 20px;
}

/* line 9, ../sass/main.scss */
#location-profile {
  margin-top: 25px;
}
/* line 11, ../sass/main.scss */
#location-profile p {
  line-height: 0.6em;
}

/* line 22, ../sass/main.scss */
#main-nav {
  background: #999999;
  height: 25px;
}

/* line 27, ../sass/main.scss */
.top-bar {
  background: #999999;
  height: 25px;
}

/* line 32, ../sass/main.scss */
.top-bar-section ul {
  background: #999999;
  font-size: 14px;
  line-height: 25px;
}
/* line 37, ../sass/main.scss */
.top-bar-section ul li > a {
  font-weight: normal;
}
/* line 41, ../sass/main.scss */
.top-bar-section ul li.hover > a {
  background: #666;
}

/* line 46, ../sass/main.scss */
.top-bar-section li a:not(.button) {
  background: #999999;
  line-height: 25px;
}

/* line 51, ../sass/main.scss */
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-right: solid 1px #FFF;
  border-left: none;
  height: 25px;
}

/* line 59, ../sass/main.scss */
.dropdown {
  border-right: 2px solid #11719c;
  border-bottom: 2px solid #11719c;
  border-left: 2px solid #11719c;
}

/* line 65, ../sass/main.scss */
.dropdown ul, .dropdown li a:not(.button) {
  background: #FFF;
}

/* line 69, ../sass/main.scss */
.top-bar-section .dropdown li a {
  color: #11719c;
}

/* line 73, ../sass/main.scss */
.top-bar-section .has-dropdown > a::after {
  top: 13.5px;
}

/* line 78, ../sass/main.scss */
.arrow-r:after {
  content: url("../img/link-arrow_r.png");
  padding: 6px;
}

/* line 84, ../sass/main.scss */
.border-r {
  border-right: 1px solid #CCC;
}
