/* line 4, ../sass/main.scss */
p, ul {
  font-size: 0.8em;
}

/* line 5, ../sass/main.scss */
h1, h2, h3 {
  color: #0050A8;
}

/* line 6, ../sass/main.scss */
h3 {
  font-weight: normal;
}

/* line 7, ../sass/main.scss */
h6 {
  font-size: 12px;
}

/* line 9, ../sass/main.scss */
#top-elements {
  height: 90px;
}

/* line 10, ../sass/main.scss */
#logo {
  margin-top: 20px;
}

/* line 11, ../sass/main.scss */
#location-profile {
  margin-top: 25px;
}
/* line 13, ../sass/main.scss */
#location-profile p, #location-profile ul {
  font-size: 11px;
  line-height: 1.2em;
}
/* line 18, ../sass/main.scss */
#location-profile ul li {
  padding-right: 1em;
}

/* line 21, ../sass/main.scss */
.align-right {
  text-align: right;
}

/* line 29, ../sass/main.scss */
#main-nav {
  background: #999999;
  height: 25px;
}

/* line 34, ../sass/main.scss */
.top-bar {
  background: #999999;
  height: 25px;
}

/* line 39, ../sass/main.scss */
.top-bar-section ul {
  background: #999999;
  font-size: 14px;
  line-height: 25px;
}
/* line 44, ../sass/main.scss */
.top-bar-section ul li > a {
  font-weight: normal;
}
/* line 48, ../sass/main.scss */
.top-bar-section ul li.hover > a {
  background: #666;
}

/* line 53, ../sass/main.scss */
.top-bar-section li a:not(.button) {
  background: #999999;
  line-height: 25px;
}

/* line 58, ../sass/main.scss */
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-right: solid 1px #FFF;
  border-left: none;
  height: 25px;
}

/* line 65, ../sass/main.scss */
.dropdown {
  border-right: 2px solid #11719c;
  border-bottom: 2px solid #11719c;
  border-left: 2px solid #11719c;
}

/* line 71, ../sass/main.scss */
.dropdown ul, .dropdown li a:not(.button) {
  background: #FFF;
}

/* line 75, ../sass/main.scss */
.top-bar-section .dropdown li a {
  color: #11719c;
}

/* line 79, ../sass/main.scss */
.top-bar-section .has-dropdown > a::after {
  top: 13.5px;
}

/* line 84, ../sass/main.scss */
.arrow-r:after {
  content: url("../img/link-arrow_r.png");
  padding: 6px;
}

/* line 88, ../sass/main.scss */
.external:after {
  content: url("../img/external_icon.png");
  padding: 6px;
}

/* line 94, ../sass/main.scss */
#main-content {
  background-color: #FAFAFA;
  padding-bottom: 25px;
}

/* line 100, ../sass/main.scss */
footer {
  color: #666;
  padding: 20px 0;
}
/* line 104, ../sass/main.scss */
footer ul {
  font-size: 11px;
}
/* line 105, ../sass/main.scss */
footer ul li {
  padding-right: 1.375em;
}
/* line 106, ../sass/main.scss */
footer p {
  font-size: 11px;
}

/* line 110, ../sass/main.scss */
.inline-list li {
  border-right: 1px solid #CCC;
}
/* line 112, ../sass/main.scss */
.inline-list li:last-child {
  border-right: none;
  padding-right: none;
}

/* line 117, ../sass/main.scss */
.section-container.auto > section, .section-container.auto > .section {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

/* line 119, ../sass/main.scss */
.section-container.auto > section > .title a, .section-container.auto > .section > .title a {
  padding: 0.9375em;
  font-size: 1em;
  font-weight: 600;
}

/* line 126, ../sass/main.scss */
table {
  width: 100%;
}

/* line 129, ../sass/main.scss */
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  font-size: 12px;
}

/* line 133, ../sass/main.scss */
tbody tr {
  border-bottom: 1px dotted #CCC;
}

/* line 138, ../sass/main.scss */
.border-r {
  border-right: 1px solid #CCC;
}

/* line 141, ../sass/main.scss */
hr.texture {
  border: none;
  background: url("../img/divider1.png") top left repeat-x;
  padding-bottom: 5px;
}
